@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
html,
body {
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: "Open Sans", sans-serif;
}

/* customizing scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}
.modal {
  background: rgba(42, 42, 43, 0.8);
  min-height: 100vh;
  min-width: 100vw;
  top: 0;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

@layer components {
  .center_y {
    @apply flex items-center;
  }
  .center_xy {
    @apply center_y justify-center;
  }
  .btn {
    @apply py-1 px-5 rounded-md;
  }
  .hover_animation {
    @apply transition-all duration-300;
  }
  .user_name {
    @apply font-semibold  text-gray-600 dark:text-white;
  }
  .dark_bg {
    @apply dark:bg-black_gray-500;
  }
}
