@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
html,
body {
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: "Open Sans", sans-serif;
}

/* customizing scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

@layer components {
  .center_y {
    @apply flex items-center;
  }
  .center_xy {
    @apply center_y justify-center;
  }
}
